
<div class="flex flex-wrap -mx-4">

    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
        <div class="container px-4 mx-auto mt-2 mb-1">
            <div class="flex justify-between items-center flex-wrap">
            <div class="col-span-10">
                <label class="text-lg font-bold text-red-600">Appointments</label>
            </div>
            <div class="col-span-2 flex justify-end">
                <app-appointment-modal></app-appointment-modal>
            </div>
            </div>
        </div>
    </div>

    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 ">
      <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
        <div class="grid grid-cols-3 gap-4 mb-4">
          <div class="flex flex-col mr-4 w-full">
            <label for="startDate" class="mb-2">Start Date:</label>
            <input 
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              type="date" 
              id="startDate" 
              [(ngModel)]="startDate" 
              (ngModelChange)="onStartDateChange($event)"
            />
          </div>
          <div class="flex flex-col mr-4 w-full">
            <label for="endDate" class="mb-2">End Date:</label>
            <input 
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              type="date"
              id="endDate" 
              [(ngModel)]="endDate" 
              (ngModelChange)="onEndDateChange($event)"
            />
          </div>
          <div class="flex flex-col">
            <label for="state" class="mb-2">State:</label>
            <select id="state" class="rounded border p-2" [(ngModel)]="selectedState" (ngModelChange)="onStateChange($event)">
              <option value="">All States</option>
              <option value="CA">California</option>
              <option value="NY">New York</option>
              </select>
          </div>
        </div>
        <div class="relative flex flex-col min-w-0 w-full mx-auto mb-6 shadow-lg rounded bg-white" >
          <app-pageloader [isLoading]="isLoading"></app-pageloader>
        </div>
        <div class="grid grid-cols-1 gap-4 -my-6">
          <div *ngFor="let appointment of appointments" class="bg-white rounded shadow-md p-4 flex flex-3 justify-between" (click)="showDetail(appointment)">
            <div>
                <span class="text-lg font-semibold text-gray-800 mt-1">Haircut, Shampoo, Blow Dry</span> 
                <p class="text-gray-800">{{ appointment?.startDateTime | date:'medium' }}</p>
              </div>
            <div>
                <p class="text-gray-700"><span class="font-semibold">Employee: </span>{{ appointment.employee?.user.name}}</p>                       
                <p class="text-gray-700"><span class="font-semibold">Price: </span> ${{appointment.totalPrice}}</p>                    
            </div>
            <div class="flex justify-end">
              <i class="fa fa-check text-green-600"></i>           
              <i class="fa fa-spinner text-orange-500"></i>           
              <i class="fa fa-ban text-red-500"></i>           
              <i class="fa fa-calendar text-lightBlue-500"></i>           
            </div>
            
          </div>
        </div>
      </div>
          <!-- <div class="flex justify-center">
            <div class="flex-grow flex justify-between items-center">
              <div class="flex space-x-2">
                <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md shadow-sm shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" mwlCalendarPreviousView (click)="closeOpenMonthViewDay()">
                  Previous
                </button>
                <button class="border border-gray-300 text-gray-700 font-bold py-2 px-4 rounded-md shadow-sm shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" mwlCalendarToday (click)="setViewDate(today)">
                  Today
                </button>
                <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md shadow-sm shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" mwlCalendarNextView (click)="closeOpenMonthViewDay()">
                  Next
                </button>
              </div>
              <h3 class="text-xl font-bold">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
              <div class="flex space-x-2">
                <button class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md shadow-sm shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                  Month
                </button>
                <button class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md shadow-sm shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                  Week
                </button>
                <button class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md shadow-sm shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                  Day
                </button>
              </div>
            </div>
          </div> -->
        <!--           
          <div [ngSwitch]="view">
            <mwl-calendar-month-view
              *ngSwitchCase="CalendarView.Month"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              [activeDayIsOpen]="activeDayIsOpen"
              (dayClicked)="dayClicked($event.day)"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
              *ngSwitchCase="CalendarView.Week"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
              *ngSwitchCase="CalendarView.Day"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-day-view>
          </div> -->
          <!-- <app-appointment-calendar></app-appointment-calendar> -->
    </div>
</div>