
<div class="flex flex-wrap -mx-4">
  <div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
    <div class="container px-4 mx-auto mt-2 mb-1">
      <div class="flex justify-between items-center flex-wrap">
        <div class="col-span-10">
          <label class="text-lg font-bold text-red-600">Our Services</label>
        </div>
        <div class="col-span-2 flex justify-end">
          <app-service-modal (refreshData)="initServices()"></app-service-modal>
        </div>
      </div>
    </div>
    <div class="flex justify-between items-center">
    </div>
  </div>
  <div class="container mx-auto mb-6 bg-white rounded shadow-lg relative flex flex-col min-w-0 w-full" *ngIf="!isLoading && (allServices.length === 0)">
    <div class="px-4">
      <div class="flex flex-wrap">
        <div class="w-full col-span-4 mt-4 px-4 flex-1">
          <div class="max-w-sm rounded overflow-hidden flex items-center">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">No Services Found</div>
              <p class="text-base text-gray-700">
                No services found. Please add a service.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex flex-col min-w-0 w-full mx-auto mb-6 shadow-lg rounded bg-white" >
    <app-pageloader [isLoading]="isLoading"></app-pageloader>
  </div>
  <div
  class="relative flex flex-col min-w-0 break-words w-full mb-6">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-4/12 px-4  mt-4" *ngFor="let service of allServices">
          <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
            <img class="w-full h-21 object-cover" [src]="(service.imageUrl) ? service.imageUrl : 'assets/img/cover1.jpg'" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">{{ service?.name }}</div>
              <p class="text-gray-700 text-base">
                {{ service.description }}
              </p>
            </div>
            <div class="px-6 pt-4 pb-2 flex justify-between">
              <app-service-modal buttonTypeValue="update" (refreshData)="initServices()"></app-service-modal>
              <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 text-sm rounded flex items-center"  (click)="showDeleteConfirmation(service._id)">
                <i class="fas fa-trash-alt mr-2"></i> Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
